body{
    background-color: black;
}
#text{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}
#image{
    border: 5px solid white;
    margin: 0;
    width: 50%;
    margin-left: 25%;
}